In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from ISLP import *
from ISLP.models import (ModelSpec as MS, summarize, poly)

In [2]:
path_advertising = 'data/Advertising.csv'
df = pd.read_csv(path_advertising)
df

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [3]:
boston = load_data('Boston')
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'lstat', 'medv'],
      dtype='object')

In [4]:
x = pd.DataFrame({
    'intercept': np.ones(boston.shape[0]),
    'lstat': boston['lstat']
})

x[:4]

   intercept  lstat
0        1.0   4.98
1        1.0   9.14
2        1.0   4.03
3        1.0   2.94

In [5]:
y = boston['medv']
model = sm.OLS(y, x)
result = model.fit()

In [6]:
summarize(result)

              coef  std err       t  P>|t|
intercept  34.5538    0.563  61.415    0.0
lstat      -0.9500    0.039 -24.528    0.0

In [7]:
design = MS(['lstat'])
desing = design.fit_transform(boston)
# x = design.transform(boston)
x[:4]

   intercept  lstat
0        1.0   4.98
1        1.0   9.14
2        1.0   4.03
3        1.0   2.94

In [8]:
def coefficients(df, x, y):
    x1 = pd.DataFrame({
        'b0': np.ones(df.shape[0]),
        'b1': df[x]
        })
    y1 = df[y]
    model = sm.OLS(y1, x1)
    result = model.fit()

    return summarize(result)

coefficients(df=df, x='TV', y='sales')

      coef  std err       t  P>|t|
b0  7.0326    0.458  15.360    0.0
b1  0.0475    0.003  17.668    0.0

## Plotting using KNN (test 2)